<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <!-- Подключение Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Спасибо за ваш заказ!</h4>
            <p>Ваш заказ был успешно оформлен, и мы скоро с вами свяжемся для подтверждения. Мы благодарны за ваш выбор!</p>
            <hr>
            <p class="mb-0">Если у вас есть вопросы, пожалуйста, свяжитесь с нами. Мы всегда готовы помочь!</p>
        </div>

        <!-- Кнопка возврата на главную -->
        <a href="{% url 'bread_list' %}" class="btn btn-primary mt-3">Вернуться на главную</a>
    </div>

    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
